.aboutUs {
  font-family: $secondaryFont;
  #content {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    #ramenBowl {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }
    #jumbotron {
      display: none;
    }
    #desktopImages {
      display: none;
    }
    p {
      font-size: 0.9em;
      text-align: center;
      margin-top: 0.5em;
      color: $mainFontColor;
    }
  }
  a {
    text-align: center;
    text-decoration: none;
    color: $mainFontColor;
    h3 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    #viewMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $mainColor;
      border-radius: 0.3125em;
      margin: 1em 1.25em 0 1em;
    }
    i {
      margin-left: 0.3125em;
    }
  }
}

// Medium devices (Tablets)
@media (min-width: 768px){
  .aboutUs {
    #content {
      margin: 2em 5em 5em 5em;
      margin-bottom: 0;
      p {
        font-size: 1.2em;
        margin-top: 2em;
      }
    }
    #viewMenu {
      font-size: 2em;
      i {
        margin-left: 0.6em;
      }
      .gg-bowl {
        --ggs: 2;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .aboutUs {
    #content {
      margin: 0;

      #aboutUsText {
        margin-left: 20%;
        margin-right: 20%;
        font-size: 2em;
      }
      #ramenBowl {
        display: none;
      }
      #jumbotron {
        display: block;
        background: url('../images/banner.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-width: 100%;
        min-height: 30vh;
        #mainHeader {
          font-size: 6em;
          font-family: $mainFont;
          color: $mainColor;
          padding-top: 2em;
          margin-left: 2em;
        }
      }
      #desktopImages {
        display: flex;
        flex-wrap: wrap;

        h2 {
          color: $mainColor;
        }

        #flexItem1 {
          display: flex;
          width: 100%;
          justify-content: flex-start;
          text-align: center;
          #flexItem1Image {
            background-color: $mainColor;
            width: 60%;
            padding: 1em;
            img {
              width: 30%;
            }
          }
          #flexItem1Text {
            width: 40%;
            margin-top: 8em;
            font-size: 1.5em;
          }
        }
          
        #flexItem2 {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          text-align: center;
          #flexItem2Image {
            background-color: $mainColor;
            width: 40%;
            padding: 1em;
            img {
              width: 40%;
            }
          }
          #flexItem2Text {
            width: 60%;
            margin-top: 8em;
            font-size: 1.5em;
          }    
        }

        #flexItem3 {
          display: flex;
          width: 100%;
          text-align: center;
          #flexItem3Image {
            background-color: $mainColor;
            width: 60%;
            padding: 1em;
            img {
              width: 30%;
            }
          }
          #flexItem3Text {
            width: 40%;
            margin-top: 8em;
            font-size: 1.5em;
          }
        }
      }
    }
    a {
      #viewMenu {
        margin: 2em 25em 3em 25em;
      }
    }
  }
}