.aboutUs {
  font-family: $secondaryFont;
  #content {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    #ramenBowl {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }
    p {
      font-size: 0.9em;
      text-align: center;
      margin-top: 0.5em;
      color: $mainFontColor;
    }
  }
  a {
    text-align: center;
    text-decoration: none;
    color: $mainFontColor;
    h3 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    #viewMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $mainColor;
      border-radius: 0.3125em;
      margin: 1em 1.25em 0 1em;
    }
    i {
      margin-left: 0.3125em;
    }
  }
}

// Medium devices (Tablets)
@media (min-width: 768px){
  .aboutUs {
    #content {
      margin: 2em 5em 5em 5em;
      margin-bottom: 0;
      p {
        font-size: 1.2em;
        margin-top: 2em;
      }
    }
    #viewMenu {
      font-size: 2em;
      i {
        margin-left: 0.6em;
      }
      .gg-bowl {
        --ggs: 2;
      }
    }
  }
}