footer {
  font-family: $secondaryFont;
  font-weight: bold;
  position: relative;
  height: 4em;
  margin-top: -4em;
  clear: both;
  text-align: center;
  background-color: $mainColor;
  .location {
    padding-top: 1em;
    font-family: $mainFont;
    font-size: 12px;
  }
  .daysOpen {
    font-size: 10px;
  }
  .hoursOpen {
    font-size: 10px;
  }
}

// Medium devices (Tablets)
@media (min-width: 768px){
  footer {
    height: 6em;
    margin-top: -6em;
    .location {
      font-size: 18px;
      margin-top: 0;
    }
    .daysOpen {
      font-size: 1em;
    }
    .hoursOpen {
      font-size: 1em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  footer {
    height: 10em;
    .location {
      font-size: 2em;
    }
    .daysOpen {
      font-size: 1.5em;
    }
    .hoursOpen {
      font-size: 1.5em;
    }
  }
}