header {
  .topNav {
    display: flex;
    justify-content: space-between;
    background-color: $mainColor;
    color: $mainFontColor;
    font-size: 1em;
    font-family: $secondaryFont;
    .navLogo {
      display: flex;
      align-items: center;
      margin-left: 1em;
      h1 {
        font-family: $mainFont;
      }
    }
    .mainNav {
      display: flex;
      list-style-type: none;
      li {
        padding: 1em;
        a {
          color: $mainFontColor;
          text-decoration: none;
        }
      }
    }
  }
}

// Medium devices (Tablets)
@media (min-width: 768px){
  header {
    .topNav {
      font-size: 1.5em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  header {
    .topNav {
      font-size: 2.2em;
    }
  }
}