.flex-container {
  display: flex;
  flex-direction: column;
  .menuSection {
    font-family: $mainFont;
    background-color: $mainColor;
    color: $mainFontColor;
    padding: 0.3em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
  }
  .menuItems {
    width: 11em;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    :nth-last-child(1) {
      margin-bottom: 1em;
    }
    img {
      width: 100%;
    }
    h3 {
      font-family: $mainFont;
      color: $mainFontColor;
    }
    p {
      font-family: $secondaryFont;
      color: $mainFontColor;
      font-size: 0.9em;
    }
    .price {
      background-color: $mainColor;
      color: $mainFontColor;
      margin: 0.5em 3em 0 3em;
      font-weight: bold;
    }
  }
}

// Medium devices (Tablets)
@media (min-width: 768px){
  .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .menuSection {
      flex: 100%;
    }
    .menuItems {
      flex: auto;
      margin-left: 1em;
      margin-right: 1em;
      img {
        width: 11em;
        height: 11em;
        object-fit: scale-down;
      }
      .price {
        font-size: 1.2em;
      }
    }
    .beverages {
      display: flex;
      flex-wrap: wrap;
      .menuItems {
        width: 40%;
        :nth-last-child(1) {
          margin-bottom: 5em;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .flex-container {
    .menuSection {
      font-size: 2.8em;
    }
    .menuItems {
      width: 40%;
      margin-left: 8em;
      margin-right: 8em;
      img {
        width: 50%;
        height: 50%;
        object-fit: contain;
      }
      h3 {
        font-size: 2.5em;
        margin-bottom: .5em;
      }
      p {
        font-size: 2em;
      }
      .price {
        font-size: 2em;
        margin-left: 18em;
        margin-right: 18em;
      }
    }
    .beverages {
      margin-top: 2em;
    }
  }
}