// Fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Slab', serif;

// Colors
$backgroundColor: #150704; // very dark shade of red
$mainColor: #AA381E; // Chinese red
$mainFontColor: #CC9900; // Chinese gold