// Fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Slab', serif;

// Colors
$backgroundColor: #E5F0F4; // very light shade of cyan (Pattens Blue)
$mainColor: #2E86AB; //#2E86AB; Cyan (Scooter)
$mainFontColor: #000000; // Black