@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap");
@import url("https://css.gg/bowl.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

html body {
  height: 100%;
  background-color: #150704;
}

#container {
  min-height: 100%;
}

#container #main {
  overflow: auto;
  padding-bottom: 4em;
}

header {
  background-color: #AA381E;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

header .topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
}

header .topNav img {
  vertical-align: middle;
}

header .topNav h1 {
  font-family: "Roboto", sans-serif;
  color: #CC9900;
}

header .topNav .navList ul {
  list-style-type: none;
  overflow: hidden;
  font-family: "Roboto Slab", serif;
  font-size: 1em;
}

header .topNav .navList ul li {
  display: inline;
  padding-left: 2em;
}

header .topNav .navList ul li a {
  display: inline-block;
  text-decoration: none;
  color: #CC9900;
}

.aboutUs {
  font-family: "Roboto Slab", serif;
}

.aboutUs #content {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.aboutUs #content #ramenBowl {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.aboutUs #content p {
  font-size: 0.9em;
  text-align: center;
  margin-top: 0.5em;
  color: #CC9900;
}

.aboutUs a {
  text-align: center;
  text-decoration: none;
  color: #CC9900;
}

.aboutUs a h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.aboutUs a #viewMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #AA381E;
  border-radius: 0.3125em;
  margin: 1em 1.25em 0 1em;
}

.aboutUs a i {
  margin-left: 0.3125em;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container .menuSection {
  font-family: "Roboto", sans-serif;
  background-color: #AA381E;
  color: #CC9900;
  padding: 0.3em;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.flex-container .menuItems {
  width: 11em;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
}

.flex-container .menuItems :nth-last-child(1) {
  margin-bottom: 1em;
}

.flex-container .menuItems img {
  width: 100%;
}

.flex-container .menuItems h3 {
  font-family: "Roboto", sans-serif;
  color: #CC9900;
}

.flex-container .menuItems p {
  font-family: "Roboto Slab", serif;
  color: #CC9900;
  font-size: 0.9em;
}

.flex-container .menuItems .price {
  background-color: #AA381E;
  color: #CC9900;
  margin: 0.5em 3em 0 3em;
  font-weight: bold;
}

footer {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  position: relative;
  height: 4em;
  margin-top: -4em;
  clear: both;
  text-align: center;
  background-color: #AA381E;
}

footer .location {
  padding-top: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

footer .daysOpen {
  font-size: 10px;
}

footer .hoursOpen {
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */